@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", "Roboto";
}

/*
header {
    width: 1340px;
    //background-color:white; 
    // display: flex;
    //justify-content: space-around;
    align-items: center;
    //font-size: 1.25rem;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;

    h2 {
        float: left;
    }

    nav {
        float: right;
        color: black;
      //  text-align: center;
        padding: 12px;       
    }

    ul {
        display: flex;
        list-style: none;
        justify-content: space-evenly;
    }

    li {
        font-size: 1.25rem;
        //text-transform: capitalize; 
    }

    a {
        text-decoration: none;
    }
}*/
header {
  width: 1340px;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: dodgerblue;
  color: white;
}

/*.header a.active {
    background-color: dodgerblue;
    color: white;
  }
  */
.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header a.logo {
    display: none;
  }
  .header-right {
    float: none;
  }
}
.main-container {
  width: 1340px;
  justify-items: center;
  display: inline-table;
}

.container {
  display: flex;
}

button {
  background: #0016DF;
  color: white;
  margin-top: 406px;
  margin-left: 152px;
  position: absolute;
  height: 59px;
  width: 200px;
  border-radius: 10px;
}

.container img {
  width: 1340px;
  height: 634px;
  margin-top: 10px;
  z-index: -1;
  filter: blur(4px);
}

.text-main {
  position: absolute;
  text-align: center;
  color: white;
  font-family: "Oswald";
  font-size: 96px;
  margin-top: 200px;
  margin-left: 127px;
}

.text-main-container {
  position: absolute;
  color: white;
  font-family: "Oswald";
  font-size: 32px;
  margin-top: 330px;
  margin-left: 127px;
}

@media screen and (max-width: 500px) {
  .container {
    display: flex;
    align-items: center;
  }
  .container .text-main {
    font-size: 54x;
    margin-top: -52px;
    margin-left: 8px;
  }
  .container .text-main-container {
    font-size: 21px;
    margin-top: 40px;
    margin-left: 7px;
    width: 689px;
  }
  .container button {
    margin-top: 146px;
    margin-left: 45px;
    height: 64px;
    width: 236px;
    font-size: 2rem;
  }
  .container img {
    width: 333px;
    height: 697px;
  }
}
.container-2 {
  position: absolute;
  margin-top: 100px;
}
.container-2 .text-main-2 {
  color: #0017E9;
  font-size: 24px;
  margin-top: 69px;
  margin-left: 118px;
  width: 300px;
  height: 36px;
}
.container-2 .text-main-3 {
  color: black;
  font-size: 36px;
  margin-top: 15px;
  margin-left: 113px;
  width: 400px;
  height: 92px;
  font-family: "Roboto";
}
.container-2 .text-main-container-2 {
  color: black;
  font-size: 24px;
  margin-top: 56px;
  margin-left: 113px;
  width: 474px;
  height: 417px;
  font-family: "Roboto";
}
.container-2 a {
  color: #0017E9;
  font-size: 24px;
  align-items: center;
  margin-top: 683px;
  margin-left: 113px;
  width: 183px;
  height: 28px;
  font-family: "Roboto";
  list-style: none;
}

.container-img img {
  margin-left: 632px;
  margin-top: 100px;
  width: 710px;
  height: 734px;
}

@media screen and (max-width: 500px) {
  .container-2 {
    position: relative;
    margin-top: 100px;
    justify-items: center;
    margin-left: -339px;
  }
  .container-2 .text-main-2 {
    font-size: 30px;
    width: 769px;
    height: 38px;
    margin-left: -224px;
  }
  .container-2 .text-main-3 {
    font-size: 34px;
    margin-top: 23px;
    margin-left: -659px;
    width: 350px;
    height: 134px;
    text-align: center;
  }
  .container-2 .text-main-container-2 {
    font-size: 24px;
    margin-top: -18px;
    margin-left: -650px;
    width: 7301px;
    height: 502px;
  }
  .container-2 a {
    margin-left: 30px;
    font-size: 3rem;
  }
  .container-img {
    margin-top: 0px;
    margin-left: 0px;
  }
  .container-img img {
    margin-top: 100px;
    margin-left: 35px;
    width: 936px;
  }
}
.container_solucion {
  width: 1340px;
  background-color: #D8D8D8;
  justify-items: center;
}
.container_solucion .text-main-4 {
  color: #0017E9;
  text-align: center;
  margin: 100px;
}
.container_solucion .text-main-container-3 {
  color: black;
  margin-top: 60px;
  font-size: 24px;
  height: 36px;
  text-align: center;
}

.cards {
  max-width: 1000px;
  margin: 3rem;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 1px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 1px solid #999;
  margin-left: 20px;
  text-align: center;
  background-color: #ffffff;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  border-radius: 5px 5px 0 0;
  width: 400px;
  height: 200px;
}

.container_cards {
  padding: 2px 16px;
}

@media screen and (max-width: 500px) {
  .container_solucion {
    width: 971px;
    justify-items: normal;
  }
  .container_solucion .text-main-4 {
    font-size: 4rem;
  }
  .container_solucion .text-main-container-3 {
    font-size: 3rem;
  }
  .container_solucion .cards {
    margin: 4rem;
    width: 826px;
    height: 1853px;
    display: inline-table;
    padding: 40px;
  }
  .container_solucion .card {
    font-size: -webkit-xxx-large;
    border-radius: 51px;
    border: 10px solid #999;
    margin: 0px 0px 50px 0px;
  }
  .container_solucion .cards img {
    width: 150px;
    height: 596px;
    border-radius: 51px;
  }
}
.titulo-comercial {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 1042px;
}
.titulo-comercial h2 {
  color: #0017E9;
}
.titulo-comercial p {
  color: black;
  font-family: "Roboto";
}

.forms_imagem {
  display: flex;
  align-items: center;
  margin: auto;
  margin-left: 20px;
}

.atend_comerc {
  max-width: 580px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 1px;
  margin-right: 20px;
}

.gallery {
  border: 1px solid #ccc;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: 180px;
}

.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
}

.container-form {
  width: 100px;
  box-shadow: none;
}

.fieldset_form {
  font-size: 20px;
}

.container-form input {
  width: 400px;
  height: 50px;
}

.container-form .imput-mens {
  height: 200px;
}

.container-form .imput_but {
  background: #0016DF;
  color: white;
}

/*@media only screen and (max-width:700px){
    .responsive{
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width:500px){
    .responsive{
        width: 100%;
    }
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

*/
footer {
  background-color: #D8D8D8;
  text-align: center;
  width: 1340px;
}/*# sourceMappingURL=style.css.map */